.mobile-layout-container {
    position: relative; 
    max-width: 393px;   /* 본문 폭 */
    margin: 0 auto;     /* 가운데 정렬 */
}


.mobile-layout-content {
    max-width: 393px;
    margin: 0 auto;
    background-color: #ffffff;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    overflow-x: hidden;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.05);
}

@media (max-width: 480px) {
    .mobile-layout-container {
        background-color: #ffffff;
    }

    .mobile-layout-content {
        box-shadow: none;
    }
}
